<div class="row">
  <div class="col-3">

  </div>
  <div class="col-3">
    <div class="card">
      <div class="card-body text-center elevator">
        <a routerLink="/pages/contact/list">
          <i class="fa-solid fa-list fa-3x"></i>
          <h2> Listados</h2>
        </a>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="card">
      <div class="card-body text-center elevator">
        <a routerLink="/pages/contact/create">
          <i class="fa-solid fa-plus fa-3x"></i>
          <h2> Crear</h2>
        </a>
      </div>
    </div>
  </div>
</div>
