


<div class="form-material ">
  <div class=" row">
    <div class="col-12">
      <div class="card">
        <div class="card-body elevator">
          <div class="card-title card-title-plus">
           Configuración
          </div>

          <div class="col-5">
            <div class="form-group d-flex align-items-center align-self-center">
              <label class="checkbox-inline">Usar API:
                <input  type="checkbox"
                        class=" ngbButton"
                        [checked]="usingApi"
                        (change)="Change()"
                        style="margin-left: 10px; margin-top: 10px; left: 0%; opacity:unset; position: relative;  transform: scale(2); " >
              </label>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


